{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ dump(page.header) }}
    <div class="content_img">
        {% set image_url = url('theme://images//placeholder.png') %}
        {% if page.media.images %}
            {% set image_url = page.media.images|first.cropZoom(1792, 960).url %}
        {% endif %}
        {% if page.header.feature_image %}
            {% set image_url = page.media[page.header.feature_image].cropZoom(1792, 960).url %}
        {% endif %}
        <img class="fiche_img pure-img" src="{{ image_url }}">
        <h1 class="fiche_title">{{page.title}}</h1>
    </div>
    
    <div class="content">
    

    
    <div class="fiche_header">
        {% for category in page.taxonomy.category %}
            <a class="category" href="{{ base_url }}/{{ category }}">{{ category }}</a>
        {% endfor %}
            - <i class="fa fa-calendar"></i> {{page.date|date("d/m/Y")}} - <i class="fa fa-clock-o"></i> {{ page.content|readingtime }}
        {% if page.taxonomy.tag or page.taxonomy.author %}
            <div class="divider text-center" ></div>
            <span class="author">
                {% if config.plugins.simplesearch.enabled %}
                    {% for author in page.taxonomy.author %}
                        <a class="label label-rounded p-category" href="{{ page.url }}?q=({{ author }})"><i class="fa fa-user"></i> {{ author }}</a>
                    {% endfor %}
                {% else %}
                    {% for tag in page.taxonomy.author %}
                        <a class="label label-rounded p-category" href="{{ page.url }}?q=({{ author }})"><i class="fa fa-user"></i> {{ author }}</a>
                    {% endfor %}
                {% endif %}
            </span>
            <span class="tags">
                {% if config.plugins.simplesearch.enabled %}
                    {% for tag in page.taxonomy.tag %}
                        <a class="label label-rounded {{ label_style ?: 'label-secondary' }} p-category" href="{{ page.url }}?q=({{ tag }})">{{ tag }}</a>
                    {% endfor %}
                {% else %}
                    {% for tag in page.taxonomy.tag %}
                        <a class="label label-rounded {{ label_style ?: 'label-secondary' }} p-category" href="{{ page.url }}?q=({{ tag }})">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </span>
        {% endif %}
     </div>
    <div class="horizontal-separator"></div>
    
    {{ page.content }}
        
    {% include 'partials/license.html.twig' with {'license':page.header.license}%}
        
    {% if page.header.serie %}
        <h4>Autres fiches de cette série</h4>
        <ul class="fiche_serie">
            {% for serie in page.header.serie %}
                {% set child_page = page.find(serie.page) %}
                <li> <a href="{{child_page.url}}">{{child_page.title}}</a></li>
            {% endfor %}
        </ul>
    {% elseif config.plugins.relatedpages.enabled and related_pages|length > 0 %}
        <h4>Fiches similaires:</h4>
        {% include 'partials/relatedpages.html.twig' %}
    {% endif %}
        
        
</div>
{% endblock %}
