{% extends 'partials/base.html.twig' %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    

{% endblock head %}

{% block content %}
    {{ page.content|raw }}
    

    
    {{dump(collection)}}
    {{dump(collection|length)}}
    
    {% import 'partials/cascade-filters.html.twig' as f %}
    
    <div class="sidebar column is-narrow">
        {% set taxlist = cascadeFilters.get() %} {# get texonomy list #}
        
        {% set queries = uri.query(null, true) %} {# get queries as Array #}
        <a href="{{ page.url }}" class="button">Clean all filters </a>
        {% if taxlist %}
            {% for key, values in taxlist %}
                <p>
                    {{ key }}
                </p>
                <ul class="is-clearfix">
                    {% for tax in values|keys %}
                        <li style="float: left; margin: 5px">
                            {{ f.genQueryUrl(queries|sort,key,tax, page.url, cascadeFilters) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>

    {% include 'partials/tntsearch.html.twig' with { in_page: true } %}
{% endblock %}
