{% extends 'partials/base.html.twig' %}

{% block entete %}
    <div class="entete text-center">
            {% include 'partials/simplesearch_searchbox.html.twig' %}
                <p>
            {% if query %}
                {% set count = search_results ? search_results.count : 0 %}
                {% if count is same as( 1 ) %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
                {% else %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block content %}
<br><br>
    <div class="pure-g">

		{% for child in search_results %}
			<div class="pure-u-1 pure-u-md-1-3">
                {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
			</div>
		{% endfor %}
	</div>

    
    
{% endblock %}
