<div class="row">
    <p class="info">
        {% if config.get('plugins.tntsearch.display_hits') %}
            <span class="hits">{{ "PLUGIN_TNTSEARCH.FOUND_RESULTS"|t(tntsearch_results.number_of_hits)|raw }}</span>
        {% endif %}
        {% if config.get('plugins.tntsearch.display_time') %}
            <span class="time">{{ "PLUGIN_TNTSEARCH.FOUND_IN"|t(tntsearch_results.execution_time)|raw }}</span>
        {% endif %}
    </p>

    <div class="pure-g ajax-result">
            
        {% for key, val in tntsearch_results.hits  %}
            <div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-4">
                {% set child = page.find(val.link) %}
                {% include 'partials/grid_ressources_div.html.twig' with {'child':child} %}
            </div>
        {% endfor %}
    </div>
</div>