{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/pure-min.css', 100) %}
    {% do assets.addCss('theme://css/grids-responsive-min.css', 99) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 98) %}
    {% do assets.addCss('theme://css/green-audio-player.min.css', 97) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/jquery-3.5.1.min.js', 100) %}
    {% do assets.addJs('theme://js/green-audio-player.min.js', 97) %}
	{% do assets.addJs('theme://js/custom.js',{'group':'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
    
    <link rel="alternate" type="application/atom+xml" title="PING - Espace Ressources numériques" href="{{ base_url }}/fiches.atom" />
<link rel="alternate" type="application/rss+xml" title="PING - Espace Ressources numériques" href="{{ base_url }}/fiches.rss" />
<link rel="alternate" type="application/json" title="PING - Espace Ressources numériques" href="{{ base_url }}/fiches.json" />
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
            <a class="logo" href="{{ home_url }}">
                <img class="logo_img" src="{{url('theme://images/PING-LOGO_invert.svg')}}">
            </a>
            <div class="site_title">{{ config.site.title }}</div>
            
            {% block header_navigation %}
                {% set current_page = page.find('/').active ? 'selected' : '' %}
                <a class="nav-link {{current_page}}" href="{{home_url}}"><i class="fa fa-fw fa-home"></i>Accueil</a>
                {% set current_page = page.find('/recits').active ? 'selected' : '' %}
                <a class="nav-link {{current_page}}" href="{{base_url}}/recits"><i class="fa fa-fw fa-book"></i>Récits</a>
                {% set current_page = page.find('/recherches').active ? 'selected' : '' %}
                <a class="nav-link {{current_page}}" href="{{base_url}}/recherches"><i class="fa fa-fw fa-question-circle"></i>Recherches</a>
                {% set current_page = page.find('/pratique').active ? 'selected' : '' %}
                <a class="nav-link {{current_page}}" href="{{base_url}}/pratiques"><i class="fa fa-fw fa-wrench"></i>Pratiques</a>
            <!--<nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>-->
            {% endblock %}
        
            <div class="header_bottom">
                <a class="reseaux" href="https://www.facebook.com/AssociationPiNG"><i class="fa fa-facebook"></i></a>
                <a class="reseaux" href="https://twitter.com/assoPiNG"><i class="fa fa-twitter"></i></a>
                <a class="reseaux" href="https://www.instagram.com/asso_ping/"><i class="fa fa-instagram"></i></a>
                <a class="reseaux" href="{{base_url}}/fiches.rss"><i class="fa fa-rss"></i></a>
                <a class="reseaux" href="https://www.linkedin.com/company/association-ping"><i class="fa fa-linkedin"></i></a>
                <br>
                <a href="{{base_url}}/a-propos">À Propos</a><br>
                <a href="http://pingbase.net">Association Ping</a><br>
            </div>
    </div>
{% endblock %}
{% block entete %}
    <div class="entete">
            
        {% include 'partials/tntsearch.html.twig' with { in_page: true } %}
    </div>
{% endblock %}
{% block body %}
    <section id="body" >
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </div>
    </div>
{% endblock %}
{% block edit_button %}
    {% set logged = grav.user.username %}
    {% if logged %}
        <div id='edit-button' class='top right'>
            <a class='edit-button' target='_blank' href="{{base_url}}/admin/pages{{page.route}}">Modifier</a>
            </div>
    {% endif %}
{% endblock %} 
    
{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
