{% switch license %}
    {% case 'cc-by' %}
        <p class="license-div"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Ce contenu est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons - Attribution - International</a>.</p>
    {% case 'cc-by-sa' %}
        <p class="license-div"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Ce contenu est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons - Partage dans les Mêmes Conditions - International</a>.</p>
    {% case 'cc-by-nd' %}
        <p class="license-div"><a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br />Ce contenu est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Licence Creative Commons - Attribution - Pas de Modification - International</a>.</p>
    {% case 'cc-by-nc-sa' %}
        <p class="license-div"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />Ce contenu est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons - Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 - International</a>.</p>
    {% case 'cc-by-nc-nd' %}
        <p class="license-div"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />Ce contenu est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licence Creative Commons - Attribution - Pas d’Utilisation Commerciale - Pas de Modification 4.0 - International</a>.</p>
    {% case 'copyright' %}
        <p class="license-div">© Tous droits réservés.</p>
    {% case 'public' %}
        <p class="license-div">Ce contenu appartient au domaine public.</p>
    {% case 'art-libre' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="http://artlibre.org/">Licence Art Libre</a>.</p>
    {% case 'odl' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="https://opendatacommons.org/licenses/odbl/1-0/">Licence Open Database</a>.</p>
    {% case 'peer' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="https://wiki.p2pfoundation.net/Peer_Production_License">Peer Production License</a>.</p>
    {% case 'gpl' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a>.</p>
    {% case 'lgpl' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="https://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License</a>.</p>
    {% case 'iang' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="http://iang.info/fr/license.html">Licence iANG</a>.</p>
    {% case 'lool' %}
        <p class="license-div">Ce contenu est mis à disposition selon les termes de la <a href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf">Licence ouverte / Open licence</a>.</p>
    {% case 'other' %}
        <p class="license-div">{{page.header.custom_license|markdown(false)}}</p>
{% endswitch %}

<!--
                cc-by: 'Creative Commons BY'
                    cc-by-sa: 'Creative Commons BY-SA'
                    cc-by-nd: 'Creative Commons BY-ND'
                    cc-by-nc: 'Creative Commons BY-NC'
                    cc-by-nc-sa: 'Creative Commons BY-NC-SA'
                    cc-by-nc-nd: 'Creative Commons BY-NC-ND'
                    copyright: 'Copyright'
                    copyleft: 'Copyleft'
                    public: 'Domaine Public'
                    art-libre: 'Licence Art Libre'
                    odl: 'Open Database License'
                    peer: 'Peer Production License'
                    gpl: 'GPL: GNU General Public License'
                    lgpl: 'LGPL: GNU Lesser General Public License'
                    iang: 'Licence iANG'
                    lool: 'Licence Ouvert'
                    other: 'Licence Autre :'
-->