{% switch type %}
    {% case 'text' %}
        Texte
    {% case 'audio' %}
        Audio
    {% case 'video' %}
        Vidéo
    {% case 'image' %}
        Image
    {% case 'fichier' %}
        Fichier
{% endswitch %}
